/*

# Add the below within HTML <head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">

*/

code {
    white-space: pre-wrap;
}

span.smallcaps {
    font-variant: small-caps;
}

span.underline {
    text-decoration: underline;
}

div.column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

div.hanging-indent {
    margin-left: 1.5em;
    text-indent: -1.5em;
}

ul.task-list {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    font-family: 'Roboto Mono', monospace;
}

a:active,
a:link,
a:visited {
    color: rgb(118, 165, 0) !important;
}

a:hover {
    color: royalblue;
}